body {
		 margin: 0;
}
ul li {
    list-style: none;
    padding: 2px;
}
ul {
    padding: 0; margin: 0;
}
p {
	   font: 14px Helvetica;
		 margin: 0;
		 color: #fff;
}
a {
	   color: aliceblue;
		 font: 14px Helvetica;
		 font-style: italic;
}
a:visited {
		 color: #ccc;
}
label {
    font: 16px Helvetica;
    font-style: italic;
    color: #555;
}

/* -------------------------------------------------------------------- */

#sitetitle {
		/*float: left;*/
		margin-left: 70px;
		margin-top: -2px;
/*		display: table-cell;*/
}
#sitetitle #title {
		float: left;
		margin: 0;
		padding:0;
    	font-size: 48px !important;
    	font-family: sans !important;
		font-style: italic !important;
		
		color: #FFF !important;
		
		text-align: right;
		
		text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#login_fields {
	margin-left: 10px;
	margin-top: 8px;
}
#login_area {
	float: right;
	margin-top: 2px;
	display: table-cell;
	vertical-align: middle;
}
.login_textbox {
	border: none;
	border: 1px solid #aaa;
		
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
		
	border-radius: 15px;
	padding: 5px;
	text-indent: 10px;
		
	width: 28%;
		
	font: 14px Helvetica;
}
.textbox {
	border: 1px solid #aaa;
	
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	
	border-radius: 15px;
	padding: 5px;
	text-indent: 10px;
	
	font: 14px Helvetica;
	
	width: 100%;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.login_button {
		border: none;
		
		border-top: 1px solid #99ccff;
		border-bottom: 1px solid #336699;
		border-radius: 15px;
		padding: 5px;
		background: #0099ff;
		
		color: #fff;
		text-shadow: 0 -1px 0 #3399cc;
}
.login_button_big {
		border: none;
		
		border-top: 1px solid #99ccff;
		border-bottom: 1px solid #336699;
		border-radius: 20px;
		padding: 10px;
		background: #0099ff;
		
		color: #fff;
		font-size: 18px;
		text-shadow: 0 -1px 0 #3399cc;
}
input {
			outline: none;
}
.login_button:active {
		border-top: 1px solid #336699;
		border-bottom: 1px solid #99ccff;
}
.login_button_big:active {
		border-top: 1px solid #336699;
		border-bottom: 1px solid #99ccff;
}

.posit_frame {
    padding: 15px;
    background: #fff;
    border-radius: 30px;
    width: 230px;
    
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
			 font: 14px Helvetica;
}
#centered {
    width: 235px;
    height: 311px;

    position:absolute;
    left:0; 
    right:0;
    top:0; 
    bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;
} 
#bevel_title {
		font: 16px Helvetica;
		color: #fff;
		margin: 0;
		margin-left: 10px;
		height: auto;
		text-shadow: 0 -1px 0 #3399cc;
}
#bevel_title_b {
    font: 16px Helvetica;
	color: #555;
	margin: 0;
	margin-left: 10px;
	height: auto;
	text-shadow: 0 1px 0 #888;
}

#contents {
	width: 100%;
		
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
		
	padding-top: 1px; padding-bottom: 1px;
		
	background: rgba(0, 153, 255, 0.8);
	
	display: table;
	overflow: hidden;
}

#error {
	font-size: 20px !important;
}
