.polaroid {
	width: 200px;
	padding: 7px;
	margin: 10px;
	text-align: center;	
	-moz-box-shadow: 1px 1px 3px #222;
	-webkit-box-shadow: 1px 1px 3px #222;
	box-shadow: 1px 1px 3px #222;
	font-family: 'Crafty Girls', Arial;
    font-size: 20px;
}

.rawImage {
	display: inline-block;
	margin: 10px;
}

.rawImageInput {
	position: relative;
	top: -14px;
	width: 200px;
	height: 20px;
	border: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	text-indent: 10px;
}